/*visit nj website styles - index*/
body {
background-color: #FFD983;
}
.clearfix:after {
display:block;
clear:both;
}
/*----- Menu Outline -----*/
.menu-wrap {
width:100%;
background:#312d22;
}
.menu {
width:100%;
margin-top: 50px;
}
.menu li {
margin:0px;
list-style:none;
font-family:'arial black', helvetica;
}
.menu a {
transition:all linear 0.15s;
color:#312d22;
}
.menu li:hover > a, .menu .current-item > a {
text-decoration:none;
color:#ffd983;
}
.menu .arrow {
font-size:11px;
line-height:0%;
}
/*----- Top Level -----*/
.menu > ul > li {
float:left;
display:inline-block;
position:relative;
font-size:20px;
}
.menu > ul > li > a {
padding:10px 40px;
display:inline-block;
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
background:#fff93c;
}
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
z-index:1;
opacity:1;
}
.sub-menu {
width:160%;
padding:5px 0px;
position:absolute;
top:100%;
left:0px;
z-index:-1;
opacity:0;
transition:opacity linear 0.15s;
background:#312d22;
}
.sub-menu li {
display:block;
font-size:20px;
}
.sub-menu li a {
padding:10px 30px;
display:block;
}
.sub-menu li a:hover, .sub-menu .current-item a {
background:#312d22;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-top: 100px;
  margin-left: 292px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #312d22;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff9ec;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #312d22;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
h1#welcome {
	color: #261f0c;
	font-family: "arial black", sans-serif;
	font-size: 55px;
	text-align: center;
}
h3#explore {
	color: #312d22;
	font-family: "arial black", sans-serif;
	font-size: 30px;
	text-align: center;
	line-height: 2%;
}
button#go {
	background-color: #fff9ec;
	font-family: "arial black", sans-serif;
	font-size: 25px;
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 45px;
}
a:link {
	color: #312d22;
	text-decoration: none;
}
a:visited {
	color: #312d22;
	text-decoration: none;
}
